@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wrap {
  padding: 20px;
  width: 940px;
  background-color: #eff3f4;
  margin: 0 auto;
  box-sizing: border-box;
}

.left-img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* floatをつけた親要素に clearfix つける */

.text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

.right-img {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

/* 文字の途中でも改行できるように指定する */

/* 回答はここに書いてね */
