@charset "UTF-8";

/* 回答はここに書いてね */
.box {
  width: 940px;
  background-color: #eff3f4;
  margin: 0 auto;
}

.q2 {
  padding: 20px;
}

.left-img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.upper-text {
  font-size: 18px;
  line-height: 22px;
  white-space: pre-line;
}

.right-img {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

.lower-text {
  font-size: 18px;
  line-height: 22px;
  white-space: pre-line;
}

/* 回答はここに書いてね */
