@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q1__content{
  width: 940px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
}

.q1__content__box{
  float: left;
  width: 230px;
  margin-left: 20px;
  background-color: #eaf4ff;
  border: 20px solid #3274ae;
}

.q1__content__text{
  padding: 20px;
  border: 10px solid #022336;
}

/* 回答はここに書いてね */
