@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.text-wrap {
  font-size: 16px;
  width: 225px;
  box-sizing: border-box;
}

/* floatでの横並び */

.float {
  float: left;
  margin-right: 50px;
}

.float:last-child {
  margin-right: 0;
}

/* tableでの横並び */

.table{
  display: table;
}

.table-text{
  display: table-cell;
  vertical-align: middle;
  padding-right: 50px;
}

.table-text:last-child {
  padding-right: 0;
}

.table-wrap {
  width: 225px;
}

/* inline-blockでの横並び */

.inlineblock-inner {
  font-size: 0;
}

.inlineblock-text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.inlineblock-text:last-child {
  margin-right: 0;
}

/* flex での横並び */

.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

/* inline-block と margin での横並び */

.each-box {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}

.box-left {
  width: 300px;
}

.box-right {
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  width: 100%;
}

/* 回答はここに書いてね */
