@charset "UTF-8";

/* 回答はここに書いてね */

.balloon {
  position: relative;
  padding: 20px;
  width: 500px;
  border: solid 5px #222;
  border-radius: 30px;
  margin: 0 auto;
}

.balloon:before {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 30px;
  border: 20px solid transparent;
  border-top-color: #222;
  z-index: 1;
}

.balloon:after {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 30px;
  border: 20px solid transparent;
  border-top-color: #fff;
  z-index: 2;
}

.balloon-text {
  font-size: 16px;
  line-height: 16px;
  word-break: break-all;
}

/* 回答はここに書いてね */
