@charset "UTF-8";

/* 回答はここに書いてね */
.box {
  margin-top: 20px;
}
.meal {
  border-collapse: collapse;
  border: solid 1px #dedede;
  width: 100%;
  table-layout: fixed;
}

table th ,td {
  border: solid 1px #dedede;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  font-size: 16px;
  line-height: 22px;
}

td:first-child {
  background-color: #2244aa;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
}


table th {
  background-color: #2244aa;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
}

tr:nth-child(2n-1) {
  background-color: #ecf1f2;
}

tr:last-child {
  border-top: dashed 2px #000;
}

.date {
  background-color: #2244aa;
  color: #ffffff;
}



/* 回答はここに書いてね */
