@charset "UTF-8";

/* 回答はここに書いてね */
.box {
  margin-top: 20px;
}
table {
  border-collapse: collapse;
  border: solid 1px #dedede;
  width: 100%;
}

table th ,td {
  border: solid 1px #dedede;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

td:first-child {
  background-color: #2244aa;
  color: #ffffff;
}


table th {
  background-color: #2244aa;
  color: #ffffff;
  font-weight: bold;
}

tr:nth-child(2n-1) {
  background-color: #ecf1f2;
}

tr:last-child {
  border-top: dashed 2px #000;
}

.date {
  background-color: #2244aa;
  color: #ffffff;
  font-weight: bold;
}



/* 回答はここに書いてね */
