@charset "UTF-8";

/* 回答はここに書いてね */

/* アニメーション transition */

.transition-img {
  height: 333px;
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.transition-img:hover .t-img {
  transform: scale(1.5);
}

.t-img {
  transition: all 0.5s;
}

.mask {
	width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: all 0.5s;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
}

.mask-inner {
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  word-break: break-all;
}

.transition-img:hover .mask {
  bottom: 0;
}

/* アニメーション animation */

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 10px #ecf1f2;
  border-top: 10px #00bcd4 solid;
  background-color: #fff;
  animation: spin 1s linear infinite;
  position: relative;
  margin: 0 auto;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


/* 回答はここに書いてね */
